<input type="text" name="name" value="" id="txt-date" placeholder="Fecha">
<div class="input-group clockpicker ">
    <input type="text" class="form-control" value="" id="start_time" placeholder="Hora inicial">
</div>
<div class="input-group clockpicker ">
    <input type="text" class="form-control" value="" id="end_time" placeholder="Hora Final">
</div>
<select id="select-vehicle">

</select>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1Gg_rgvsutHRAJ2PHdKG85csmonHURjE"></script>
<div class="col-md-12">
  <div id="vehicles-map" style="width:100%; height:500px;">
  </div>
</div>
