<select id="select-vehicle">

</select>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1Gg_rgvsutHRAJ2PHdKG85csmonHURjE"></script>
<div class="col-md-6">
  <div id="vehicles-map" style="width:100%; height:500px;">
  </div>
</div>
