<!DOCTYPE html>
<html>
<head>
  <title>LocalizationExample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<style>
  .map-icon-label .map-icon {
  font-size: 24px;
  color: #FFFFFF;
  line-height: 48px;
  text-align: center;
  white-space: nowrap;
  }
</style>
<body>

<%= yield %>

</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
